*~
*.o
*.a
*.pdf
*.out
*.org
*.html
*.dot
*.png
\#*
.#*
vgcore.*
.gdb_history
TAGS
spec/
lab/
build/
build_*/
bit_dump
examples/count
examples/philo
pkt_hdr_dump
pkt_ctxt_dump
pkt_ctxt_align_eof_content_dump
ev_rec_hdr_dump
static_str_dump
dyn_str_dump
variant_dump
optional_dump
var_len_int_dump
fxd_len_float_dump
static_len_arr_fld_loc_dump
dyn_len_arr_fld_loc_dump
fld_loc_double_arr_dump
metadata_pkt_hdr_dump
metadata_pkt_hdr_pack
benchmark
perf.data*
*.diff
*.log
